<%- include("partials/header") %>

<div class="container">
	<header class="jumbotron">
		<h1>About</h1>
		<p>
			This page is under construction. Check back soon!
		</p>
	</header>
</div>

<%- include("partials/footer") %>