.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

.deleteForm {
	display: inline;
}

.container {
	padding-top: 20px;
}

.alert {
	margin-bottom: 0rem;
	border-radius: 0rem;
}

/* Google Maps */
#map {
	height: 400px;
	width: 100%;
}